@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">It's Time to Order Pizzas!</h1>
        <h4 class="mainSubTitle">Choose from list of pizzas or create your own</h4>
    </div>

    

    <img class="mainImage"  src="/images/PizzaTime.jpg" />

    <br />

    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Checkout/Confirmation">Give me that pizza!</a>

</div>
